<div class="d-flex flex-column b">
  <app-header></app-header>
  <br>
  <div class="container flex-grow-1">
    <div class="row">
      <div class="col-12 text-center align-items-end d-flex text-sm-left">
        <h4 class="mb-0 mr-1">Bienvenido a {{ title }}</h4>
        <img width="25" [src]="imagenurl">
      </div>
      <div class="col-12  mt-3">
        <app-clientes></app-clientes>
      </div>
      <div class="col-12  my-3">
        <app-directiva></app-directiva>
      </div>
    </div>


  </div>
  <app-footer></app-footer>
</div>
